<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8"/>
    </head>
    <body>

        <h2>회원가입 창</h2>

        <form action="/Signup" method="POST">
            <p>아이디</p>
            <input type="text" placeholder="아이디를 입력해주세요." name="userid"/>
            <p>비밀번호</p>
            <input type="password" placeholder="비밀번호를 입력해주세요." name="userpw"/>
            <p>닉네임</p>
            <input type="text" placeholder="닉네임을 입력해주세요." name="username"/>
            <br><br>
            <input type="submit" value="회원가입"/>
            <br><br>
            <button type="button" onclick="location.href='/'">뒤로가기</button>
        </form>
    </body>
</html>